* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body{
    background: linear-gradient(to top, #F4F1EB, #c1e0f4);
    font-family: 'Poppins', sans-serif;
}
    



.title{
    color: #000000;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 10px;
    color: #000000;
    text-align: center;
}

.subtitle{
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}



#container {
    display: flex;  
    flex-direction: column;
    margin: 5% auto;
    width: 80vw;
    height: 100vh;
   
}




.input{

    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 10px;
    line-height: 1;
    line-height: 50px;

   
}

#meme_form{
 
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5em auto;
    width: 35vw;
    height: fit-content;
    padding:30px;
    background: linear-gradient(to bottom, #afd7ff, rgb(254, 208, 254), rgb(241, 241, 241));
  
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    
}



#generate_button { 
    background-color: #FCFCFD;
    margin: 2em auto;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    height: 3em;
    width: 13em;
    justify-content: center;
    line-height: 1;
    list-style: none;
    padding-left: 16px;
    padding-right: 16px;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
  
}

label{
font-size: 18px;

}


#meme_image {
  margin: 5% auto;
  height: 80%;
  width: 80%;
  
}




#imageContainer {
    
    height: 45vh;
    width: 45vw;
    text-align: center;
    text-shadow: 2px 2px 0px #281616;
    font: 2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    
}


.topTextOverlay {
  position: absolute;
  width: fit-content;
  margin: 0 auto;
  bottom: 16%;
  z-index: 99;
  left: 40%;
  background: none;
 
}
.bottomTextOverlay{
    bottom: 50px;
    left: 40%;
   
    position: absolute;
    width: fit-content;
    margin: 0 auto;
    z-index: 79;
    background: none;
   
}


.error {
    position: relative;
    color: red; 
    font-size: 10px;
   
  }
